* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 50px;
  margin: 10px;
  font-family: cursive;
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  margin-bottom: 50px;
}

button {
  padding: 10px;
  font-family: cursive;
}
#english-input {
  padding: 10px;
  font-family: cursive;
}
.display {
  margin-top: 20px;
  height: 50px;
  width: 260px;
  padding-left: 30px;
  font-size: 40px;

  border: 1px solid black;
  background-color: white;
}
